
/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color: rgba(0, 0, 0, 0.9);

    width: 75%;
    margin-left: -25%;
    min-height:200px;
    /*border:1px solid #666;*/

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;

    /*height: auto;
    max-height: 90%;*/

    height: 90%;

    padding: 10px;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url("../img/overlay/close.png");
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.simple_overlay img {
  max-width: 75%;
  max-height: 100%;
  float: left;
}

/* styling for elements inside overlay */
.simple_overlay .details {
  color:#fff;
  padding: 15px;
  margin-top: 5%;
  height: 90%;
  max-height: 90%;
  overflow: auto;
}

.simple_overlay .details p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

.simple_overlay .details a {
  text-decoration: underline;
  color: #fff;
}

.to-overlay {
  cursor: pointer;
}