html, body {
  color: #000;
  height: 100%;
}

a {
  text-decoration: underline;
  color: #123456;
}

body.index {
  max-height: 100%;
  /*overflow: hidden;*/
  overflow: auto;
}

.part-container {
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.part-container .columns {
  background-color: #fff;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.part-container p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300; 
}

.part-container .parts-navigator {
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

.part-container .part-header-container {
  background-image: url(../img/ornament1.gif);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 20px;
}

.part-container .part-header {
  text-align: center;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding-bottom: 27px;
  margin-bottom: 15px;
  background-image: url(../img/ornament.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
}

body.part1 .part-container {
  background-image: url("../img/bg-part1.jpg");
}

body.part2 .part-container {
  background-image: url("../img/bg-part2.jpg");
}

.all-container {
  min-height: 100%;
}

* html .all-container {
  height: 100%;
}  /*  хак для IE */

#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 9998;
  background-image: url("../img/yarregion.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
}

.exhibition-name {
  display: none;
  position: absolute;
  z-index: 9996;
  width: 100%;
  top: 2em;
}

.exhibition-name p {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

.exhibition-name p img {
  margin: 0 5px;
}

.exhibition-name .top-title {
  font-size: 2.5em;
}

.exhibition-name .bottom-title {
  font-size: 1.5em;
}

.exhibition-name .description {
  width: 70%;
  margin: 0 auto;
  background-color:rgba(255,255,255,0.8);
  padding: 1em;
}

.exhibition-name .description p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  margin-top: 5px;
}

.exhibition-name .th {
  display: inline-block;
}

.index-parts {
}

.index-part-left,
.index-part-right {
  top: 0;
  background-repeat: no-repeat;
  position: absolute;
  min-height: 100%;
}

.index-part-left {
  left: 0;
  /*background-image: url("../img/bg-index-left.jpg");*/
  background-position: -5000px -1080px;
}

.index-part-right {
  right: 0;
  /*background-image: url("../img/bg-index-right.jpg");*/
  background-position: -5000px -1080px;
}

.parts-links {
  display: none;
  z-index: 9997;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2em 0;
  background-color:rgba(0,0,0,0.8);
}

.part-link {
  float: left;
  width: 50%;
  text-align: center;
  margin: 0;

}

.part-link a {
  color: #fff;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-decoration: underline;
}

.part-text {
  display: block;
}

.part-documents {
  display: none;
}

.part-selector span {
  color: #123456;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #123456;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  cursor: pointer;
}

.triggers {
  text-align: center;
}

.triggers .thumb {
  cursor: pointer;
}

.triggers .description {
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}